<nav *ngIf="auth" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Church Alamanac</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {{ (route === '/person') ? 'active' : null }}">
        <a class="nav-link" routerLink="/person">People</a>
      </li>
      <li class="nav-item {{ (route === '/calling') ? 'active' : null }}">
        <a class="nav-link" routerLink="/calling">Callings</a>
      </li>
      <li class="nav-item {{ (route === '/country') ? 'active' : null }}">
        <a class="nav-link" routerLink="/country">Countries</a>
      </li>
      <li class="nav-item {{ (route === '/temple') ? 'active' : null }}">
        <a class="nav-link" routerLink="/temple">Temples</a>
      </li>
      <li class="nav-item {{ (route === '/login') ? 'active' : null }}">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>