<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Temples</h1>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="warning" id="warning"
  aria-hidden="true" (click)="reset()">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h1>Are you sure?</h1>
      <br />
      <button class="btn btn-primary" (click)="delete()">Delete Temple</button>
      <br />
      <button class="btn btn-secondary" (click)="reset()">Cancel</button>
    </div>
  </div>
</div>