div.row > div {
    margin-bottom: 25px;
}

div.row {

    div#emeritus {
        text-align: center;
        padding-top: 5px;
    }

    div#emeritus * {
        cursor: pointer;
    }

    table {
        tbody {
            tr {
                td {
                    span {
                        cursor: pointer;
                    }
                    span:nth-child(even) {
                        margin-left: 15px;
                    }
                    span.blue {
                        color: rgb(72, 121, 255);
                    }

                    span.red {
                        color: rgb(255, 75, 75);
                    }
                }
            }
        }
    }
}