div.row>div {
    margin-bottom: 15px;
}

div.modal>div>div {
    padding: 25px;
}

div.row {

    div>span {
        font-size: 0.75em;
        font-weight: bold;
    }

    div#emeritus {
        text-align: center;
        padding-top: 25px;
    }

    div#emeritus * {
        cursor: pointer;
    }

    table {
        tbody {
            tr {
                td {
                    span {
                        cursor: pointer;
                    }

                    span:nth-child(even) {
                        margin-left: 15px;
                    }

                    span.blue {
                        color: rgb(72, 121, 255);
                    }

                    span.red {
                        color: rgb(255, 75, 75);
                    }
                }
            }
        }
    }
}