<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>New Person</h1>
    </div>
    <!-- person form -->
    <div class="col-3">
      <span>First Name</span>
      <input type="text" class="form-control" placeholder="John" [(ngModel)]="person.name.first">
    </div>
    <div class="col-3">
      <span>Last Name</span>
      <input type="text" class="form-control" placeholder="Doe" [(ngModel)]="person.name.last">
    </div>
    <div class="col-3">
      <span>Birth Date</span>
      <input type="date" class="form-control" placeholder="MM/DD/YYYY" [(ngModel)]="person.birth.date">
    </div>
    <div class="col-3">
      <span>Death Date</span>
      <input type="date" class="form-control" placeholder="MM/DD/YYYY" [(ngModel)]="person.death.date">
    </div>
    <div class="col-3">
      <span>Birth Street</span>
      <input type="text" class="form-control" placeholder="100 S 100 W" [(ngModel)]="person.birth.location.street">
    </div>
    <div class="col-3">
      <span>Birth Country</span>
      <select class="form-control" name="birth-countries" [(ngModel)]="person.birth.location.country">
        <option selected="" value="" disabled>Select Country</option>
        <option *ngFor="let country of countries | keys" value="{{ country.key }}">{{ country.value }}</option>
      </select>
    </div>
    <div class="col-3" *ngIf="person.birth.location.country && states[person.birth.location.country]">
      <span>Birth State</span>
      <select class="form-control" name="birth-state" [(ngModel)]="person.birth.location.state">
        <option selected="" value="" disabled>Select State</option>
        <option *ngFor="let state of states[person.birth.location.country]" value="{{ state }}">{{ state }}</option>
      </select>
    </div>
    <div class="col-3" *ngIf="!person.birth.location.country || !states[person.birth.location.country]">
      <span>Birth State</span>
      <input type="number" class="form-control" placeholder="Select State" disabled>
    </div>
    <div class="col-3">
      <span>Birth Zip</span>
      <input type="number" class="form-control" placeholder="84100" [(ngModel)]="person.birth.location.zip">
    </div>
    <div class="col-3">
      <span>Death Street</span>
      <input type="text" class="form-control" placeholder="100 S 100 E" [(ngModel)]="person.death.location.street">
    </div>
    <div class="col-3">
      <span>Death Country</span>
      <select class="form-control" name="death-country" [(ngModel)]="person.death.location.country">
        <option selected="" value="" disabled>Select Country</option>
        <option *ngFor="let country of countries | keys" value="{{ country.key }}">{{ country.value }}</option>
      </select>
    </div>
    <div class="col-3" *ngIf="person.death.location.country && states[person.death.location.country]">
      <span>Death State</span>
      <select class="form-control" name="death-state" [(ngModel)]="person.death.location.state">
        <option selected="" value="" disabled>Select State</option>
        <option *ngFor="let state of states[person.death.location.country]" value="{{ state }}">{{ state }}</option>
      </select>
    </div>
    <div class="col-3" *ngIf="!person.death.location.country || !states[person.death.location.country]">
      <span>Death State</span>
      <input type="number" class="form-control" placeholder="Select State" disabled>
    </div>
    <div class="col-3">
      <span>Death Zip</span>
      <input type="number" class="form-control" placeholder="84100" [(ngModel)]="person.death.location.zip">
    </div>
    <div class="col-12">
      <span>Photo URL</span>
      <input type="text" class="form-control" placeholder="http://www.domain.com/file.jpg" [(ngModel)]="person.name.photo">
    </div>
    <div class="col-12">
      <span>Short Bio</span>
      <textarea type="text" class="form-control" [(ngModel)]="person.bio"></textarea>
    </div>
    <div class="col-12 row" *ngIf="editor.person">
      <div class="col-2" *ngIf="callings">
        <span>Calling Name</span>
        <select class="form-control" name="death-countries" [(ngModel)]="calling.uid">
          <option selected="" value="" disabled>Select Calling</option>
          <option *ngFor="let calling of callings | keys" value="{{ calling.key }}">{{ calling.value }}</option>
        </select>
      </div>
      <div class="col-2" *ngIf="!callings">
        <span>Callings Name</span>
        <input type="number" class="form-control" placeholder="No Callings In Database" disabled>
      </div>
      <div class="col-3">
        <span>State Date</span>
        <input type="date" class="form-control" placeholder="Start MM/DD/YYYY" [(ngModel)]="calling.startDate">
      </div>
      <div class="col-3">
        <span>End Date</span>
        <input type="date" class="form-control" placeholder="End MM/DD/YYYY" [(ngModel)]="calling.endDate">
      </div>
      <div class="col-2" id="emeritus">
        <div class="form-check">
          <input class="form-check-input" id="emeritus-checkbox" type="checkbox" value="true" [(ngModel)]="calling.emeritus">
          <label class="form-check-label" for="emeritus-checkbox">
            Emeritus
          </label>
        </div>
      </div>
      <div class="col-2" id="emeritus">
        <button class="btn btn-secondary" *ngIf="!editor.calling" (click)="add()">Add Calling</button>
        <button class="btn btn-secondary" *ngIf="editor.calling" (click)="add()">Save Calling</button>
      </div>
      <div class="col-12">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Calling</th>
              <th scope="col">Start</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody *ngIf="person.callings">
            <tr *ngFor="let calling of person.callings; let i = index">
              <td *ngIf="callings[calling.uid]">{{ callings[calling.uid] }}</td>
              <td *ngIf="!callings[calling.uid]">This calling was not found...</td>
              <td *ngIf="calling.startDate">{{ calling.startDate }}</td>
              <td *ngIf="!calling.startDate"></td>
              <td>
                <span (click)="edit(i)" class="blue">Edit</span>
                <span (click)="remove(i)" class="red">Remove</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12" *ngIf="alerts">
      <div class="alert alert-primary" role="alert" *ngFor="let alert of alerts">{{ alert }}</div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" *ngIf="!editor.person" (click)="save()">Add Person</button>
      <button class="btn btn-primary" *ngIf="editor.person" (click)="save()">Save Person</button>
    </div>
    <!-- people -->
    <div class="col-12">
      <br />
      <h1>People List</h1>
    </div>
    <div class="col-12">
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search" (keyup)="refine()">
    </div>
    <div class="col-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody *ngIf="results">
          <tr *ngFor="let person of results | keys; let i = index" id="result-{{ i }}">
            <td>{{ person.value.name.first }}</td>
            <td>{{ person.value.name.last }}</td>
            <td>
              <span (click)="edit(person.key)" class="blue">Edit</span>
              <span data-toggle="modal" data-target="#warning" (click)="uid = person.key" class="red">Delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="warning" id="warning"
  aria-hidden="true" (click)="reset()">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h1>Are you sure?</h1>
      <br />
      <button class="btn btn-primary" (click)="delete()">Delete Person</button>
      <br />
      <button class="btn btn-secondary" (click)="reset()">Cancel</button>
    </div>
  </div>
</div>