/* You can add global styles to this file, and also import other style files */

table {
    tbody {
        tr {
            td {
                span {
                    cursor: pointer;
                }

                span:nth-child(even) {
                    margin-left: 15px;
                }

                span.blue {
                    color: rgb(72, 121, 255);
                }

                span.red {
                    color: rgb(255, 75, 75);
                }
            }
        }
    }
}

div.row {
    div>span {
        font-size: 0.75em;
        font-weight: bold;
    }
}